<div class="pageContent">
    <h2>Search Book</h2>
    <div class="pageInnerContent">
        <div class="formContainer">
            <form action="/books" method="GET">
    
                <label>Book Title &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="title" value="<%= searchOptions.title %>"></br>
    
                <label>Published After &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
                </br>
    
                <label>Published Before&nbsp;&nbsp;&nbsp;</label>
                <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
                </br>
        
                <button type="submit">Search</button>
            </form>
        </div></br></br>
    
        <div class="allBooks">
            <% books.forEach(book => { %>
                <div class="bookLink">
                    <a href="/books/<%= book.id%>">
                        <img src="<%= book.coverImagePath %>">
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
    
</div>
    