<div class="pageContent">
    <h2><%= book.title %></h2>

    <div class="allBooks">
        <div class="bookLink">
            <img  src="<%= book.coverImagePath %>">
        </div>
        <div class="bookLink">
            <p>Author: &nbsp; &nbsp; <%= book.author.name %> </p>
            <p>Publish Date:  &nbsp; &nbsp; <%= book.publishDate.toDateString() %></p>
            <p>Page Count:  &nbsp; &nbsp; <%= book.pageCount %> </p>
            <p>Description:  &nbsp; &nbsp; <%= book.description %> </p>
        </div>
        <div class="bookLink">
            <button><a href="/books/<%= book.id %>/edit">Edit</a></button></br></br>
            <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
            </br><button><a href="/authors/<%= book.author.id %>">View Author</a></button>
        </div>
    </div>
    

    
</div>
