<div class="pageContent">
    <h2>Search Authors</h2>
    <div class="pageInnerContent">
        <div class="formContainer">
            <form action="/authors" method="GET">
                <input type="text" placeholder="Authors Name" name="name" value="<%= searchOptions.name %>"></br>
                <button type="submit">Search</button>
            </form>
        </div>    
        <br>
        <div class="authorsList">
            <% authors.forEach(author => { %>
                <div class="authorItem">
                    <p><%= author.name %></p>
                    <button><a href="/authors/<%= author.id %>">View</a></button>
                    <button><a href="/authors/<%= author.id %>/edit">Edit</a></button>
                    <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
                </div>
            <% }) %>
        </div>
        
    </div>
</div>