<div class="pageContent">
    <h2><%= author.name %></h2>
    <div class="pageInnerContent">
        <button><a href="/authors/<%= author.id %>/edit">Edit</a></button>
        </br></br>
        <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>


        <% if(booksByAuthor.length > 0){ %>
            <h2>Books By Author</h2>
            <div class="allBooks">
                <% booksByAuthor.forEach(book => { %>
                    <div class="bookLink">
                        <a href="/books/<%= book.id%>">
                            <img height= "150" width= "100" src="<%= book.coverImagePath %>">
                        </a>
                    </div>
                    
                <% }) %>
            </div>
        <% } %>
    </div>
    

    
        
</div>


